[submodule "3-grading-tests"]
	path = 3-grading-tests
	url = git@github.com:spbu-coding-2023/3-grading-tests.git
[submodule "3-AlexandrKudrya"]
	path = 3-AlexandrKudrya
	url = git@github.com:spbu-coding-2023/3-AlexandrKudrya.git
[submodule "3-Azamat-Ishbaev"]
	path = 3-Azamat-Ishbaev
	url = git@github.com:spbu-coding-2023/3-Azamat-Ishbaev.git
[submodule "3-DanKu02"]
	path = 3-DanKu02
	url = git@github.com:spbu-coding-2023/3-DanKu02.git
[submodule "3-Dennis2909"]
	path = 3-Dennis2909
	url = git@github.com:spbu-coding-2023/3-Dennis2909.git
[submodule "3-DripCat4er"]
	path = 3-DripCat4er
	url = git@github.com:spbu-coding-2023/3-DripCat4er.git
[submodule "3-ElBananium"]
	path = 3-ElBananium
	url = git@github.com:spbu-coding-2023/3-ElBananium.git
[submodule "3-Friend-zva"]
	path = 3-Friend-zva
	url = git@github.com:spbu-coding-2023/3-Friend-zva.git
