[submodule "3-grading-tests"]
	path = 3-grading-tests
	url = git@github.com:spbu-coding-2023/3-grading-tests.git
[submodule "3-AlexandrKudrya"]
	path = 3-AlexandrKudrya
	url = git@github.com:spbu-coding-2023/3-AlexandrKudrya.git
[submodule "3-Azamat-Ishbaev"]
	path = 3-Azamat-Ishbaev
	url = git@github.com:spbu-coding-2023/3-Azamat-Ishbaev.git
[submodule "3-DanKu02"]
	path = 3-DanKu02
	url = git@github.com:spbu-coding-2023/3-DanKu02.git
[submodule "3-Dennis2909"]
	path = 3-Dennis2909
	url = git@github.com:spbu-coding-2023/3-Dennis2909.git
[submodule "3-DripCat4er"]
	path = 3-DripCat4er
	url = git@github.com:spbu-coding-2023/3-DripCat4er.git
[submodule "3-ElBananium"]
	path = 3-ElBananium
	url = git@github.com:spbu-coding-2023/3-ElBananium.git
[submodule "3-Friend-zva"]
	path = 3-Friend-zva
	url = git@github.com:spbu-coding-2023/3-Friend-zva.git
[submodule "3-IliaSuponeff"]
	path = 3-IliaSuponeff
	url = git@github.com:spbu-coding-2023/3-IliaSuponeff.git
[submodule "3-Kirilich"]
	path = 3-Kirilich
	url = git@github.com:spbu-coding-2023/3-Kirilich.git
[submodule "3-Lyart123"]
	path = 3-Lyart123
	url = git@github.com:spbu-coding-2023/3-Lyart123.git
[submodule "3-OGchukh"]
	path = 3-OGchukh
	url = git@github.com:spbu-coding-2023/3-OGchukh.git
[submodule "3-RodionovMaxim05"]
	path = 3-RodionovMaxim05
	url = git@github.com:spbu-coding-2023/3-RodionovMaxim05.git
[submodule "3-SecretPersona5"]
	path = 3-SecretPersona5
	url = git@github.com:spbu-coding-2023/3-SecretPersona5.git
[submodule "3-Sem4kok"]
	path = 3-Sem4kok
	url = git@github.com:spbu-coding-2023/3-Sem4kok.git
[submodule "3-TerrMen"]
	path = 3-TerrMen
	url = git@github.com:spbu-coding-2023/3-TerrMen.git
[submodule "3-VersusXX"]
	path = 3-VersusXX
	url = git@github.com:spbu-coding-2023/3-VersusXX.git
[submodule "3-Ycyken"]
	path = 3-Ycyken
	url = git@github.com:spbu-coding-2023/3-Ycyken.git
[submodule "3-b08lsoai"]
	path = 3-b08lsoai
	url = git@github.com:spbu-coding-2023/3-b08lsoai.git
[submodule "3-bikakuka"]
	path = 3-bikakuka
	url = git@github.com:spbu-coding-2023/3-bikakuka.git
[submodule "3-homka122"]
	path = 3-homka122
	url = git@github.com:spbu-coding-2023/3-homka122.git
[submodule "3-kinokotakenoko9"]
	path = 3-kinokotakenoko9
	url = git@github.com:spbu-coding-2023/3-kinokotakenoko9.git
[submodule "3-mdcp10"]
	path = 3-mdcp10
	url = git@github.com:spbu-coding-2023/3-mdcp10.git
